body {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    min-height: 100%;
}

header {
    max-height: 430px;
    height: 430px;
    background-color: #0056D2;
}

.header_inner:first-child {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.header_inner {
    max-width: 59%;
    display: flex;
    margin: 0 auto;

}

.header_content {
    max-width: 470px;
    max-height: 218px;
    margin-bottom: 10%;
}

.header_content img {
    height: 67px;
    width: 460px;
}

.header_content h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px;
    line-height: 130%;
    margin-top: 40px;
}

.edudescr {
    max-width: 59%;
    margin: 0 auto;

    height: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edudescr h1 {
    max-width: 658px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 150%;
    vertical-align: middle;
}

.edudescr_title {
    font-weight: bold;
    color: #0056D2;
}

.edufinder {
    max-width: 1130px;
    height-min: 160px;
    background-color: #EBF3FF;
    margin: 0 auto;
    padding: 60px 40px 40px 40px;
}

.edu {
    min-height: calc(100vh - 2000px);
}

.row {
    --bs-gutter-x: 0;
}


footer {
    background-image: url("/img/footer.png");
    height: 145px;
    margin-top: 7%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    bottom: 0;
    background-size: cover;
    width: 100%;

}

.footer_inner {
    height: 100px;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.footer_inner a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 127.69%;
    color: #0056D2;
    text-decoration-line: underline;
}

.btn {
   border-radius: 0 !important;
   padding: 1rem 2rem !important;
}
.btn-primary {
    background-color: #0056D2 !important;
    color: white !important;
}

@media (max-width: 1695px) {

    .header_content h1 {
        font-size: 35px;
    }

    .header_inner img {
        height: 70%;
        width: 70%;
    }

    .edudescr {
        max-width: 300px;
        margin-left: 21%;
    }
}

.select2-selection--single{
    border-radius: 0 !important;
    border: 3px solid #0056D2 !important;
    min-height: 3rem !important;
    font-size: 150%;
}

.select2-selection__arrow{
    background: #0056D2 !important;
    min-height: 2.9rem !important;
    min-width: 3rem !important;
}
.select2-selection__arrow b{
    border-top-color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3rem !important;
}


@media (max-height:1030px){
    .footer{
        position: static;
    }
}


@media (max-width:1110px){
    .edudescr {
        max-width: 390px;
        margin: 0 auto;}
}


.lang{
    display: flex;
    align-self: flex-start;
    margin-top: 3%;
    text-decoration: underline;
    text-decoration-color: white;
}

.lang a{color: white;
        text-decoration: none;
}

.lang a:hover{
    color: white;
}
.lang:hover{
    text-decoration-style: dashed;
}

input.form-control {
    border-radius: 0;
    min-height: 3em;
    border-color: #0056D2;
}