<div class="edusearch">
  <div class="edudescr">
    <h1 class="edudescr_title">
      У полі нижче оберіть свій вищий навчальний заклад, щоб дізнатися посилання для доступу до безкоштовної програми з
      більш ніж 6000 курсів від провідних університетів і партнерів Coursera!
    </h1>
  </div>

  <div class="edufinder">
    <main>
      <section class='container'>
        <div class="row" style="--bs-gutter-x: 0;">
          <select id="select" width="100%">
            <option value=""></option>
          </select>
        </div>
        <div id="result" class="pt-3"></div>
      </section>

    </main>
  </div>


</div>

<script id="new-university" type="x-tmpl-mustache">
    <p>
      Ви не можете знайти свій заклад?  Тоді заповніть форму нижче.
    </p>
    <form action='/add' method="POST">
       <input type="hidden" name="UA" value="{{text}}">
       <div class="mb-3">
         <label for="f-url" class="form-label">
             Спробуйте знайти <a href="https://registry.edbo.gov.ua" target="blank" style="text-decoration: underline;">тут</a>
         </label>
         <input type="url" class="form-control" id="f-url"  name="url" placeholder="https://registry.edbo.gov.ua/university/ххххх/" required>
       </div>
       <div class="mb-3">
         <label for="f-email" class="form-label">E-mail</label>
         <input type="email" class="form-control" id="f-email" name="email">
       </div>
       <div class="row mt-2">
       <div class="col-sm-12 text-center">
       <button type="submit" class="btn btn-primary">Надіслати запит</button>
       <p>Нам знадобиться кілька днів, щоб додати заклад. </p>
       </div></div>
    </form>
</script>


<script id="new-program" type="x-tmpl-mustache">
  <p>
     На жаль, програма для вашого закладу ще не створена
  </p>
  <form action="/add" method="POST">
    <input type="hidden" class="form-control" name="UA" value="{{UA}}">
    <input type="hidden" class="form-control" name="EN" value="{{EN}}">
    <input type="hidden" class="form-control" name="id" value="{{id}}">
    <input type="hidden" class="form-control" name="type" value="program">
  <div class="row mt-2">
  <label class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input type="email" class="form-control" value="" name="email" required>
  </div>
  </div>
  <div class="row mt-2">
  <div class="col-sm-12 text-center">
    <button type="submit" class="btn btn-primary">Надіслати запит</button>
    <p>Нам знадобиться до двох тижнів, щоб додати програму.</p>
  </div>
  </div>
  </form>
</script>

<script id="ok" type="x-tmpl-mustache">
  <div class="row mt-2">
  <ul>
    <li>Реєстрація на цю програму можлива з корпоративних email в домені ХХХХХХХХ@xxx.{{domain}}</li>
    <li>Реєстрaція на цю програму можлива за запрошенням адміністратора вашого зкладу.</li>
  </ul>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center">
     <a class="btn btn-primary" href='{{URL}}'>Перейти</a>
    </div>
  </div>
</script>


<script id="no-admin" type="x-tmpl-mustache">
  <div class="row mt-2">
  <ul>
    <li>Реєстрація на цю програму можлива з корпоративних email в домені ХХХХХХХХ@xxx.{{domain}}</li>
  </ul>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center">
     <a class="btn btn-primary" href='{{URL}}'>Перейти</a>
    </div>
  </div>
</script>

<script id="no-domain" type="x-tmpl-mustache">
  <div class="row mt-2">
     <p color='red'>До цієї програми ще не призначено адміністратора, зверніться до адміністрації вашого закладу.</p>
     <p> Заклад освіти має визначити відповідальну особу та подати відповідний запит до Міністерства освіти і науки України.</p>
  </ul>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center">
     <a class="btn btn-primary" href='{{URL}}'>Перейти</a>
    </div>
  </div>
</script>




<script>
    let data =<%= MultiJson.dump(@unis) %>;
    let select = $.map(data, function (obj) {
        obj.text = obj.UA;
        return obj;
    });

    function matchCustom(params, data) {
        if ($.trim(params.term) === '') {
            return data;
        }

        if (typeof data.text === 'undefined') {
            return null;
        }
        let upper = params.term.toUpperCase();
        if ((data.UA && data.UA.toUpperCase().indexOf(upper) > -1) ||
          (data.EN && data.EN.toUpperCase().indexOf(upper) > -1)) {
            let modifiedData = $.extend({}, data, true);
            return modifiedData;
        }

        return null;
    }

    $(document).ready(function () {
        $('#select').select2({
            data: select,
            placeholder: 'Оберіть Ваш навчальний заклад',
            allowClear: true,
            matcher: matchCustom,
            tags: true
        }).on('select2:select', function (e) {
            let value = e.params.data;
            let variant;
            console.log(value)
            let has_url = value.URL && value.URL.indexOf("http") !== -1;
            let has_admin = value.admin;
            let has_domain = !!value.domain;

            if (value.id  === value.text) {
                //There is no University
                variant = 'new-university';
            }  else if (!has_url) {
                //There is UNI but no URL
                variant = 'new-program'
            }
            else if (has_admin && has_domain) {
                variant = 'ok';
            } else if (!has_admin) {
                variant = has_domain ? 'no-admin' : 'no-domain';
            }
            let template = document.getElementById(variant).innerHTML;
            document.getElementById('result').innerHTML = Mustache.render(template, value);
        });
    });
</script>
