---
logging: true
show_exceptions: true
run: false
url: "https://example.com/"
cache_ttl: 0
rollbar:
  server_token: 'token-for-server-side'
database:
  name: "UID of Google sheets (see: gist/*.rb)"
  tables:
    university: 'gid worksheet for data-source'
    demand: "gid worksheet fro new university"
    program: 'gid worksheet for new programs'
