body,
html {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
    max-height: 430px;
    background-color: #0056D2;
}

.header_inner:first-child {
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.header_inner {
    max-width: 59%;
    display: flex;
    margin: 0 auto;

}

.header_content {
    max-width: 470px;
    max-height: 218px;
    margin-bottom: 10%;
}

.header_content h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px;
    line-height: 130%;
    margin-top: 40px;
}

.edudescr {
    max-width: 59%;
    margin: 0 auto;

    height: 204px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edudescr h1 {
    max-width: 590px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 150%;
    vertical-align: middle;
}

.edudescr_title {
    font-weight: bold;
    color: #0056D2;
}

.edufinder {
    max-width: 1130px;
    height-min: 160px;
    background-color: #EBF3FF;
    margin: 0 auto;
    padding: 50px 40px 34px 40px;
}

.row {
    --bs-gutter-x: 0;
}

.edu {
  flex: 1 1 auto;
}


footer {
    background-image: url("/s/img/footer.png");
    height: 145px;
    margin-top: 4%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-size: cover;
    width: 100%;

}

.footer_inner {
    height: 100px;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.footer_inner a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 127.69%;
    color: #0056D2;
    text-decoration-line: underline;
}

.btn {
   border-radius: 0 !important;
   padding: 1rem 2rem !important;
}
.btn-primary {
    background-color: #0056D2 !important;
    color: white !important;
}


.select2-selection--single{
    border-radius: 0 !important;
    border: 3px solid #0056D2 !important;
    min-height: 3rem !important;
    font-size: 150%;
}

.select2-selection__arrow{
    background: #0056D2 !important;
    min-height: 2.9rem !important;
    min-width: 3rem !important;
}
.select2-selection__arrow b{
    border-top-color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3rem !important;
}


.lang{
    display: flex;
    align-self: flex-start;
    margin-top: 3%;
    text-decoration: underline;
//    text-decoration-color: white;
}

.lang a{color: white;
        text-decoration: none;
}

.lang a:hover{
    color: white;
}
.lang:hover{
    text-decoration-style: dashed;
}

input.form-control {
    border-radius: 0;
    min-height: 3em;
    border-color: #0056D2;
}

@media (max-width: 1695px) {

    .header_content h1 {
        font-size: 35px;
    }

    .header_inner img {
        height: 70%;
        width: 70%;
    }

    .edudescr {
        max-width: 300px;
        margin-left: 21%;
    }
}



@media (max-width:1110px){
    .edudescr {
        max-width: 390px;
        margin: 0 auto;}
}


@media (max-width:1024px){
  .header_inner{
     display: flex;
     flex-direction: column;
  }
  
  .header_inner img {
     order: 3;
  }
  .lang{order: 1;}
  .header_content{order: 2;}
}

@media screen and (min-width:660px) and (max-width:769px){
   .header_content h1{
      font-size: 20px;
   } 
}

@media screen and (min-width:320px) and (max-width:470px){
   header{
     height: 410px;
     margin-bottom: 25%;
   }
   
   .header_inner img{
     height: 97%;
     width: 97%;
   }
   
  .header_content{
     margin-top: 10%;
     margin-bottom: 20px;
   }
  .header_content h1{
     width: 270px;
     margin-top: 8%;
   }

  .edudescr_title{
     width: 310px;
     font-size: 14px;
     margin: 0 auto;
   }

  footer{
     justify-content: center;
   }

  .footer_inner{
      max-width: 306px;
      margin: 0 auto;
      justify-content: center;
     }
}

@media screen and (min-width:470px) and (max-width:600px){
    .header_content{
       margin-bottom: 0;
       font-size: 25px;
       margin-top: 10%;
    }

    .header_content h1{
      margin-top: 30px;
    }
   .header_inner img{
       height: 90%;
       width: 90%;
    }

   header{
       height: 410px;
       margin-bottom: 28%;
    }
}

@media screen and (min-width:601px) and (max-width:660px){
   .header_content h1{
      font-size: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:600px){
  .lang{
     width: 130%;
     justify-content: flex-end;
  }
  .footer_inner{
     max-width: 306px;
     margin: 0 auto;
  }
  .header_inner img:nth-child(1){
    max-height:47px;
  }
}

@media screen and (min-width:601px) and (max-width:1024px){
  .header_inner img:nth-child(2){
    display:none
  }

  
  .header_inner{
      height:350px;
      max-width: 390px;
  }

  .header_inner img {
     height: 100px;
     width: 100%;
  }
.header_content{
  margin-bottom:20%;
}
.header_content h1{
  font-size:30px;
}
.lang{
     width: 120%;
     justify-content: flex-end;
  }
}

.inline-ul {
    list-style: circle;
}

.inline-ul li:after {
    content: ", ";
}

.inline-ul li:last-child:after {
    content: "";
}