<div class='jumbotron'>
  <section class='container'>
    <div class="d-flex">
        <h1 class="p-2">Єднаймося із MOOC</h1>
        <img src="/img/logo.svg" class="ml-auto  p-2" style="height:48px">
    </div>

  </section>
</div>

<section class='container'>
  <div class="row">
   <select id="select" width="100%" value="">
     <option value=""></option>
   </select>
  </div>
  <div id="result" class="p-3"></div>
</section>

<script id="ask" type="x-tmpl-mustache">
  <form action="/add" method="POST">
  <div class="row mt-2">
  <label class="col-sm-2 col-form-label">Назва</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  value="{{text}}" disabled>
    <input type="hidden" class="form-control" name="university" value="{{text}}">
  </div>
  </div>
  <div class="row mt-2">
  <label class="col-sm-2 col-form-label">Щось ще</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" value="" name="value" required>
  </div>
  </div>
  <div class="row mt-2">
  <div class="col-sm-12 text-center">
    <button type='submit'>Записати</button>
  </div>
  </div>
  </form>
</script>

<script id="noadmin" type="x-tmpl-mustache">
  <h1>{{text}}</h1>
  <p>Нажаль не призначено адміністратора</p>
</script>

<script id="ok" type="x-tmpl-mustache">
  <h1>{{text}}</h1>
  <div class="row mt-2">Реєстація для Вашого закладу можлива із потшт  &nbsp;<i>ваша-пошта</i>@<strong>{{domain}}</strong></div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center">
     <a class="btn btn-secondary" href='{{URL}}'>Перейти до сайту</a>
    </div>
  </div>
</script>


<script>


  let data =<%= MultiJson.dump(@unis) %>;
  let select = $.map(data, function (obj) {
      obj.id = obj.UA;
      obj.text = obj.UA;
      return  obj;
  });

    function matchCustom(params, data) {
        // If there are no search terms, return all of the data
        if ($.trim(params.term) === '') {
            return data;
        }

        // Do not display the item if there is no 'text' property
        if (typeof data.text === 'undefined') {
            return null;
        }

        // `params.term` should be the term that is used for searching
        // `data.text` is the text that is displayed for the data object
        if (( data.UA && data.UA.indexOf(params.term) > -1) ||
            ( data.EN && data.EN.indexOf(params.term) > -1)) {
            let modifiedData = $.extend({}, data, true);
            return modifiedData;
        }

        // Return `null` if the term should not be displayed
        return null;
    }

  $(document).ready(function() {
      $('#select').select2({
          data: select,
          placeholder: 'Виберіть ВНЗ',
          allowClear: true,
          matcher: matchCustom,
          createSearchChoice:function(term, data) {
              if ( $(data).filter( function() {
                  return this.text.localeCompare(term)===0;
              }).length===0) {
                  return {id:term, text:term};
              }
          }
      }).on('select2:select', function (e) {
          let value = e.params.data;
          let variant;
          console.log(value)
          if (value.admin === false) {
              variant = 'noadmin';
          } if (value.URL.indexOf("http") === -1) {
              variant = 'ask'
          }
          else {
            variant = 'ok';
          }
          let template = document.getElementById(variant).innerHTML;
          document.getElementById('result').innerHTML = Mustache.render(template, value);
      });
  });
</script>
