<div class='jumbotron'>
  <section class='container'>
    <h1>WFT!</h1>
  </section>
</div>

<section class='container'>
  <div class="row">
<%= MultiJson.dump(@unis) %>
  </div>
</section>

<script>
</script>