<div class="d-flex align-items-center justify-content-center" style="height: 20rem;">
  <div class="row">
    <div class="col">
      <img src="/s/img/404.svg" height="200px">
    </div>
    <div class="col">
      <h1>404</h1>
      <p>Page not found</p>
      <p><a href="/">Back to home</a></p>
    </div>
  </div>
</div>