<div class="edusearch">
  <div class="edudescr">
    <h1 class="edudescr_title">
      In the box below, select your higher education institution to find the link to access the free program from
      more than 6,000 courses from leading universities and Coursera partners!
    </h1>
  </div>


  <div class="edufinder">
    <main>

      <section class='container'>
        <div class="row" style="--bs-gutter-x: 0;">
          <select id="select" width="100%">
            <option value=""></option>
          </select>
        </div>
        <div id="result" class="p-3"></div>
      </section>

    </main>
  </div>


</div>

<script id="new" type="x-tmpl-mustache">
    <p>
      Ви не можете знайти свій заклад?  Тоді заповніть форму нижче.
    </p>
    <form action='/add' method="POST">
       <input type="hidden" name="UA" value="{{text}}">
       <div class="mb-3">
         <label for="f-url" class="form-label">
             Спробуйте знайти <a href="https://registry.edbo.gov.ua" target="blank" style="text-decoration: underline;">тут</a>
         </label>
         <input type="url" class="form-control" id="f-url"  name="url" placeholder="https://registry.edbo.gov.ua/university/ххххх/" required>
       </div>
       <div class="mb-3">
         <label for="f-email" class="form-label">E-mail</label>
         <input type="email" class="form-control" id="f-email" name="email">
       </div>
       <button type="submit" class="btn btn-primary">Надіслати запит</button>
    </form>
</script>


<script id="ask" type="x-tmpl-mustache">
  <form action="/add" method="POST">
  <div class="row mt-2">
  <label class="col-sm-2 col-form-label">Назва</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  value="{{text}}" disabled>
    <input type="hidden" class="form-control" name="university" value="{{text}}">
  </div>
  </div>
  <div class="row mt-2">
  <label class="col-sm-2 col-form-label">Щось ще</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" value="" name="value" required>
  </div>
  </div>
  <div class="row mt-2">
  <div class="col-sm-12 text-center">
    <button type='submit'>Записати</button>
  </div>
  </div>
  </form>

</script>

<script id="noadmin" type="x-tmpl-mustache">
  <h1>{{text}}</h1>
  <p>Нажаль не призначено адміністратора</p>
</script>

<script id="ok" type="x-tmpl-mustache">
  <h1>{{text}}</h1>
  <div class="row mt-2">
  <p>Реєстація для Вашого закладу можлива із потшт  &nbsp;<i>ваша-пошта</i>@<strong>{{domain}}</strong></p>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center">
     <a class="btn btn-primary" href='{{URL}}'>Перейти до сайту</a>
    </div>
  </div>

</script>


<script>


    let data =<%= MultiJson.dump(@unis) %>;
    let select = $.map(data, function (obj) {
        obj.id = obj.EN;
        obj.text = obj.EN;
        return obj;
    });

    function matchCustom(params, data) {
        if ($.trim(params.term) === '') {
            return data;
        }

        if (typeof data.text === 'undefined') {
            return null;
        }

        if ((data.UA && data.UA.indexOf(params.term) > -1) ||
            (data.EN && data.EN.indexOf(params.term) > -1)) {
            let modifiedData = $.extend({}, data, true);
            return modifiedData;
        }

        return null;
    }

    $(document).ready(function () {
        $('#select').select2({
            data: select,
            placeholder: 'Select your university',
            allowClear: true,
            matcher: matchCustom,
            tags: true
        }).on('select2:select', function (e) {
            let value = e.params.data;
            let variant;
            console.log(value)
            if (value.UA == undefined && value.EN == undefined) {
                variant = 'new';
            } else if (value.admin === false) {
                variant = 'noadmin';
            } else if (value.URL.indexOf("http") === -1) {
                variant = 'ask'
            } else {
                variant = 'ok';
            }
            let template = document.getElementById(variant).innerHTML;
            document.getElementById('result').innerHTML = Mustache.render(template, value);
        });
    });
</script>
